## A little exercise to see whether you understand array manipulations.

    Follow the instructions in their correct order
    This means do 1 first before 2, and do 3 before 4.

## 1.  Declare a 6x6 array with all zeros
   Assign it to variable 'mm'

In [10]:
import numpy as np

r_size = 6
c_size = 6
mm = np.zeros(shape=(r_size, c_size), dtype='int32')
mm

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]], dtype=int32)

## 2. Write '11' diagonally - from top left to bottom right

In [11]:
for r in range(r_size):
    for c in range(c_size):
        if r == c:
            mm[r][c] = 11

mm

array([[11,  0,  0,  0,  0,  0],
       [ 0, 11,  0,  0,  0,  0],
       [ 0,  0, 11,  0,  0,  0],
       [ 0,  0,  0, 11,  0,  0],
       [ 0,  0,  0,  0, 11,  0],
       [ 0,  0,  0,  0,  0, 11]], dtype=int32)

## 3. Write row of ‘33’ to row index 4

In [12]:
for r in range(r_size):
    if r == 4:
        for c in range(c_size):
            mm[r][c] = 33
mm

array([[11,  0,  0,  0,  0,  0],
       [ 0, 11,  0,  0,  0,  0],
       [ 0,  0, 11,  0,  0,  0],
       [ 0,  0,  0, 11,  0,  0],
       [33, 33, 33, 33, 33, 33],
       [ 0,  0,  0,  0,  0, 11]], dtype=int32)

## 4. Write ‘44’ to diagonal from bottom left to top right

In [13]:
for r in range(rsize):
    mm[r][-r - 1] = 44

mm

array([[11,  0,  0,  0,  0, 44],
       [ 0, 11,  0,  0, 44,  0],
       [ 0,  0, 11, 44,  0,  0],
       [ 0,  0, 44, 11,  0,  0],
       [33, 44, 33, 33, 33, 33],
       [44,  0,  0,  0,  0, 11]], dtype=int32)

## 5. Fill the empty cells with ‘55’

In [14]:
for r in range(r_size):
    for c in range(c_size):
        if mm[r][c] == 0:
            mm[r][c] = 55

mm

array([[11, 55, 55, 55, 55, 44],
       [55, 11, 55, 55, 44, 55],
       [55, 55, 11, 44, 55, 55],
       [55, 55, 44, 11, 55, 55],
       [33, 44, 33, 33, 33, 33],
       [44, 55, 55, 55, 55, 11]], dtype=int32)